<!-- <div class="container">
    <div class="textLink" style="margin-left: 40px; padding: 10px;"><span style="
      font-family:  'Kanit', sans-serif; font-size: 17px;font-weight: 500;
      ">Home</span>
        <span style="padding: 5px;">/</span>
        <span style="color: #8ba1b0; font-size: 12px;font-weight: 500;">Products</span>
        <span style="padding: 5px;">/</span>
        <span style="color: #8ba1b0; font-size: 12px;font-weight: 500;">Product detail</span>
    </div>
</div> -->
<!-- CONTENT -->
<div class="container-fluid">
    <div class="background-box">
        <img src="../../../assets/images/background2.avif" alt="">
        <div class="overlay"></div>
    </div>
    <div class="content-box" style="padding-top: 80px;">

        <div class="container p-5 border border-1 mt-5 mb-5" style="background-color: rgba(255, 255, 255, 0.6);">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 loginText">
                    <h2>ĐĂNG NHẬP</h2>
                    <p>Đăng nhập bằng địa chỉ email và mật khẩu của bạn.</p>
                    <form #loginForm="ngForm">
                        <div class="row form-design">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">


                                <label class="form-label fw-bold" >ĐỊA CHỈ EMAIL</label>
                                <input class="form-control" name="email"
                                       [(ngModel)]="email"
                                       (input)="onEmailChange()"
                                       id="email"
                                       #emailCtrl="ngModel"
                                       required
                                       pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                />

                              <div *ngIf="emailCtrl.touched && emailCtrl.invalid" class="error mt-2">
                                <div *ngIf="emailCtrl.errors?.['required']"
                                     class="text-danger">Vui lòng nhập email.</div>
                                <div *ngIf="emailCtrl.errors?.['pattern']"
                                     class="text-danger">Vui lòng nhập email đúng định dạng.</div>
                              </div>
                            </div>



                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                                <label class="form-label fw-bold" >MẬT KHẨU</label>
                                <input type="{{ showPassword ? 'text' : 'password' }}"
                                       [(ngModel)]="password"
                                       class="form-control "
                                       name="password"
                                        id = "password"
                                       #passwordCtrl="ngModel"
                                       required
                                       pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{6,}$"
                                />

                              <div *ngIf="passwordCtrl.touched && passwordCtrl.invalid" class="error mt-2">
                                <div *ngIf="passwordCtrl.errors?.['required']"
                                     class="text-danger">Vui lòng nhập mật khẩu.</div>
                                <div *ngIf="passwordCtrl.errors?.['pattern']"
                                     class="text-danger">
                                  Mật khẩu phải có 6 kí tự bao gồm kí tự hoa và số.
                                </div>
                              </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                                <div class="row">
                                    <div class="col-9 ">
                                        <div class="form-check ps-0">
                                          <i class="password-toggle fas text-black ms-0 me-3" [ngClass]="showPassword ?
                        'fa-eye' : 'fa-eye-slash'" (click)="togglePassword()"></i>
                                            <label class="form-check-label"

                                                style="font-size: 18px;padding-top: 4px;"
                                          > Hiện mật khẩu </label>
                                        </div>
                                    </div>

                                    <div class="col-3" style="padding-top: 4px;">
                                        <a routerLink="/forgotPass" class="text-success" style="text-decoration: none; color: #238bc8 !important;
                                         font-family: 'Kanit', sans-serif;

                                    ">Quên mật khẩu?</a>
                                    </div>
                                </div>
                            </div>

                          <div *ngIf="errorMessage" class="error-message text-danger mb-4 ">
                            {{ errorMessage }}
                          </div>

                            <!-- Submit button -->
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                                <div class="row">
                                    <div class="col-12 col-sm-5 col-md-5" style="margin-right: -15px;">

                                            <div class="btnLogin slide_leftbtnLogin"
                                                 (click)="login()"
                                            >ĐĂNG NHẬP </div>


                                    </div>
                                    <div class="col-12 col-sm-7 col-md-7">

                                            <div class="btnLoginWithGoogle slide_leftbtnbtnLoginWithGoogle">
                                            ĐĂNG NHẬP VỚI  <i></i>
                                                    <i style="color: #4285f4;" class="ggText">G</i>
                                                    <i style="color: #ea4335;" class="ggText">o</i>
                                                    <i style="color: #F4B400;" class="ggText">o</i>
                                                    <i style="color: #4285f4;" class="ggText">g</i>
                                                    <i style="color: #34a853;" class="ggText">l</i>
                                                    <i style="color: #ea4335;" class="ggText">e</i>

                                                  </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
                 style="background-color: rgb(255, 255, 255,0.4); border: 1px solid
                 #ebeced; border-radius: 10px; margin-top: -20px;">
                    <div class="row form-design " style="padding-left: 10px;padding-right: 5px;">
                        <h2>TẠO MỘT TÀI KHOẢN</h2>
                        <p>Hãy tạo tài khoản ngay ! Bạn có thể nhận được các dịch vụ đặc biệt cho riêng bạn như kiểm tra
                            lịch sử mua hàng và nhận phiếu giảm giá cho thành viên. Đăng ký miễn phí ngay hôm nay!</p>
                    </div>


                        <div class="anim-btn" style="margin-left: 10px;" routerLink="/signin">
                            <div class="btnSignin slide_leftbtnSignin"
                            (click)="createAccount()"
                            >ĐĂNG KÝ TÀI KHOẢN MỚI  </div>
                        </div>

                </div>
            </div>
        </div>

    </div>


</div>
